html {
    height: 100%;
    font-size: 1rem;
}

body {
    font-size: 1rem;
    font-size: 14px;
    font-family: 'Dosis', sans-serif;
    height: 100%;
    margin: 0px;
    background-image: url("img/mobile_background.jpg");
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
}

.logo-container {
    padding-top: 40px;
    width: 15.5rem;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 100%;
}

.logo-container::after {
    content: "";
    display: block;
    margin-top: 0.3rem;
    width: 100%;
    height: 8px;
    background-color: #f0f0f0;
}

.main-content {
    text-align: center;
    font-size: 1rem;
}

.main-content h1 {
    margin-top: 35px;
    margin-bottom: 0px;
}

.main-content p {
    margin-top: 7px;
}

.main-content h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 3px;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #00ff66;
    border-radius: 20px;
    padding: 0.5rem 4.5rem;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
}

.button:hover {
    background-color: #33ec7d;
}

.address {
    font-size: 1rem;
    font-style: normal; 
}

.countdown {
    display: inline-block;
    color: white;
    text-align: justify;
}

.countdown .date {
    display: block;
    font-size: 4.5rem;
    margin-bottom: -10px;
    margin-top: 10px;
}

.countdown .date-description {
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media (min-width: 750px) {
    body {
        background-image: none;
    }

    .logo-container {
        margin-left: 0px;
        margin-right: 0px;
        width: 10rem;
    }

    .logo-container::after {
        background-color: transparent;
        background: linear-gradient(to right,  #36d5ed, #46e65d);
        height: 4px;
    }

    .main-content {
        padding-left: 5%;
        width: 45%;
        float: left;
        text-align: left;
    }

    .countdown-container {
        width: 50%;
        float: left;
        height: 100%;
        background-image: url("img/one_page_construction_rechtes_bild.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }

    .countdown {
        padding-top: 6rem;
    }
}